/* 교재 연습문제 2.4, 2.5*/

@media screen and (max-width : 600px){
    body{
        background-color: skyblue;
    }
}

@media screen and (min-width : 600px){
    body{
        background-color: blue;
    }
}

@media screen and (min-width : 1200px){
    body{
        background-color: darkblue;
    }
}

@media screen and (max-width : 900px){
    h1{
        background-color: white;
    }
}

@media screen and (min-width : 900px){
    h1{
        background-color: yellow;
    }
}